html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: lightgray;
    margin:0;
    padding: 0;
    font-family: "Varela Round";
}

main{
    
}

/* -------- HEADER EMPLEADOS ----------*/

header{
    position: relative;
    display: flex;
    align-items: center;
    width: 80vw;
    padding: 0 10vw;
    height: 8vh;
    background-color: #3f3f3f;
    box-shadow: white 0px 0px 15px 5px;
    color:white;
}

header p{
    font-size: 3vh;
}

header a{
    position: absolute;
    right: 8vw;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 3vh;
}

header a:hover{
    text-shadow: 0px 0px 15px white;
}

/* -------- Formularios  ---------*/

button{
    transition: 0.3s;
}

button:hover{
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 3px 3px black;
}

section{
    width: 100vw;
    margin-bottom: 5vh;
    padding:5vh 0 ;
    background-color: #8fd0d8;
    box-shadow: white 0px 0px 10px;

}

#loginSection{
    margin-top: 15vh;
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.loginForm{
    border-radius: 25px;
    height: 50vh;
    width: 70vw;
    background-image: url("../img/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: white 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm a{
    display: block;
    margin-left: 15vw;
    color: white;
    text-decoration: none;
    font-size: 3vh;
    transition:0.3s;
}

.loginForm a:hover{
    text-shadow: #8fd0d8 0px 0px 10px;
}

.loginTitle{
    font-size: 5vh;
    text-align: center;
    margin-top: 3vh;
    color:white;
}

.myInput{
    transition:0.3s;
    border:none;
}

.myInput:hover{
    box-shadow: #8fd0d8 1px 1px 10px 3px;
    border:none;
}

.loginInput{
    display: block;
    margin: 2vh auto;
    height: 5vh;
    width: 40vw;
    font-size: 3vh;
    text-align: center;
}

.loginBtn{
    width: 20vw;
    margin-left: 25vw;
    margin-bottom: 3vh;
    height: 8vh;
    font-size: 4vh;
    background-color: #8fd0d8;
}

.opacity{
    background-color: rgba(1, 57, 59, 0.76);
}

#formOpacity{
    border-radius: 25px;
    height: inherit;
    width: inherit;
    
    
}

.registroForm{
    padding:1vh 0;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.123);
    box-shadow: white 0px 0px 15px 5px;
    width: 70vw;
    margin: auto;
}

.registroForm .mainTitle{
    text-align: center;
}


.registroBtn{
    margin: 2vh 0;
    color:white;
    font-size: 4vh;
    padding: 1vh 1vw;
    background-color: #8fd0d8;
    border: none;
    box-shadow: 0px 0px 5px black;
}

.registroForm{
    text-align: center;
}

.registroForm p{
    text-align: center;
}

.registroInput{
    display: block;
    margin:1vh auto;
    height: 5vh;
    width: 40vw;
    font-size:3vh;
    text-align: center;

}

.myBtn{
    width: 20vw;
    height: 5vh;
    margin: 1vh 40vw;
    font-size: 3vh;
    background-color: #039aad;
    color: white;

    
}
/* ----- MAIN -----*/
.articleEmpleados{
    margin:0 5vw;
}
.mainTitle{
    font-size: 7vh;
}



.sub{
    font-size: 4vh;
    font-style: italic;
}

.text{
    font-size: 3vh;
    text-align: justify;
}

/*------- PORTAL --------*/

.sectionPortal{
    width: 80vw;
    padding: 10vh 10vw;
}

.tableContainer{
    padding: 2vh 4vw;
    
    border-radius: 20px;
    box-shadow: white 0px 0px 15px 5px;
}

.myGrid{
    border:black solid;
    display: grid;
}